{% extends 'base.html' %}
    {% block content %}
    <h1>WELCOME</h1>
    <br>

    {% if location %}
        {{ location }}
    {% endif %}

    {% if api %}
        {% if api == "Error...." %}
            There was an Error, please try again later...
        {% else %}
            <div class="jumbotron {{ category_color }}">
                <h1>{{ AQI_Quality }}</h1>
              <p class="lead">Current Air Quality: {{ api.data.aqi }}</p>
                <p class="lead">{{ api.data.city.name }}</p>
              <hr class="my-4">
                {% if api.data.aqi <= 50 %}
                    <p>	Air quality is considered satisfactory, and air pollution poses little or no risk</p>
                {% elif api.data.aqi <= 100 %}
                    <p>Air quality is acceptable; however, for some pollutants there may be a moderate health concern for a very small number of people who are unusually sensitive to air pollution.</p>
                {% elif api.data.aqi <= 150 %}
                    <p>Members of sensitive groups may experience health effects. The general public is not likely to be affected.</p>
                {% elif api.data.aqi <= 200 %}
                    <p>	Everyone may begin to experience health effects; members of sensitive groups may experience more serious health effect</p>
                {% elif api.data.aqi <= 300 %}
                    <p>Health warnings of emergency conditions. The entire population is more likely to be affected.</p>
                {% else %}
                    <p>Health alert: everyone may experience more serious health effects</p>
                {% endif %}
            </div>
            <p class="geo">Latitude: {{ api.data.city.geo.0 }}, Longitude: {{ api.data.city.geo.1 }}</p>

        {% endif %}
    {% endif %}

{% endblock %}